body{
  background-image: url(image/background4.jpg);
  background-size:100% 100%;
  background-attachment:fixed;
  background-size: cover;
}

@font-face {
    font-family: 'serifa';
    src: url(font/Serifa.TTF);
}




#bigdiv{
    width: 100vw;
    height:fit-content;
    display: table-cell;
    
    text-align: center;
    overflow: none;
    scroll-behavior: smooth;
    
}

#uisystem{
    position: fixed;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    z-index: 999;
}

button{
    display: block;
    padding: 0.5em;
    margin-top: 0.4em;
    font-size: 1.1em;
    font-family: American Typewriter, serif;

    backdrop-filter: blur(5px);
    background-color: rgba(252, 252, 252, 0.7);
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 0 8px #5d5c5d inset;
    
}

a{
    text-decoration: none;
}
button:hover{
    transform: translateX(2vw);
    transition: 1s;
}

#visualContainer{
    position: fixed;
    width: 100vw;
    
    
}

#visualContainer img{
    position: absolute;
   
}


.blocktext{
   
    position: absolute;
    width: 18vw;
    margin-left: 41vw;
    margin-top: 13vw;
    font-family: American Typewriter, serif;
    text-align: center;
    font-size: 1.4vmin;
   
}

#instrutext{
    position: absolute;
    columns: 2;
    width: 76vw;
    height: 100vh;
    margin-top: 40vh;
    font-family: American Typewriter, serif;
}

#instrutext2{
    position: absolute;
    columns: 2;
    width: 100vw;
    height: 100vh;
    
    font-family: American Typewriter, serif;
}


#probg{
    
    width: 100%;
    height: 100%;
    margin-top: 150vh;
}



#tool6{
    width: 18vw;
    margin-top: -24vh;
    left: 10vw;
    animation: movey 4s infinite;
}

#sponge{
    width: 9vw;
    margin-top: 45vh;
    right: 20vw;
    animation: rotate 3s infinite;
}


#raindrop{
    width: 32vw;
    margin-top: 15vh;
    left: 10vw;
    animation: opacitychange 5s infinite;
}

#shuilongtou{
    animation: movex 8s infinite;
}

#toolkit{
    width: 20vw;
    margin-top: 50vh;
    margin-left: 8vw;
    animation: movex 11s infinite;
}

#wishlist1{
    animation: movey 11s infinite;
}

#wishlist2{
    animation: movey 9s infinite;
}

@keyframes movey{
    0%{
        transform: translateY(0%);
    }

    50%{
        transform: translateY(-20%);
    }

    100%{
        transform: translateY(0%);
    }
}


@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(20deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

@keyframes opacitychange{
    0%{
        opacity: 100%;
    }

    50%{
        opacity: 20%;
    }

    100%{
        opacity: 100%;
    }
}

@keyframes movex{
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(30%);
    }

    100%{
        transform: translateX(0%);
    }
}





